# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv/
venv/
conda/
*.env

# IDE
.vscode/
.idea/

# Logs & outputs
*.log
runs/
outputs/
results/
vis_attention/
reference_repos/

# Checkpoints / weights
*.pth
*.pt
*.ckpt
*.onnx

# Data (IMPORTANT)
data/
dataset/
datasets/
